<div class="container">
  <form>

    <div id="about-form" class="form-container box-shadow">
      <h1 id="about-title" class="title">
        About
      </h1>

      <label id="title-lbl" class="label-box field-lbl">
        TITLE
      </label>
      <div id="title-input" class="input-box">
        <input class="wide text-input" type="text" placeholder="Make it short and clear">
      </div>


      <label id="description-lbl" class="label-box field-lbl">
        DESCRIPTION
      </label>
      <div id="description-input" class="input-box">
        <textarea class="wide tall text-input" type="text" rows="7" maxlength="140" placeholder="Write about your event, be creative"></textarea>
        <label class="small-text">
          max length 140 characters
        </label>
        <label class="small-text right">
          {{desCharCount}} / 140
        </label>


      </div>


      <label id="category-lbl" class="label-box field-lbl">
        CATEGORY
      </label>
      <div id="category-input" class="input-box">
        <select class="text-input wide" placeholder="Select category">
          <option *ngFor="let employe of employes" [value]="employe">{{employe}}</option>
        </select>
        <label class="small-text">
          Describes topic and people who should be interested in this event
        </label>
      </div>


      <label id="payment-lbl" class="label-box field-lbl">
        PAYMENT
      </label>
      <div id="payment-input" class="input-box normal-text">
        <input type="radio" name="money"> Free event
        <input type="radio" name="money"> Paid event
      </div>


      <label id="reward-lbl" class="label-box field-lbl">
        REWARD
      </label>
      <div id="reward-input" class="input-box">
        <input class="text-input" type="number" placeholder="Number">
        <label class="normal-text">
          reward points for attendance
        </label>
      </div>

    </div>

    <div id="coordinator" class="form-container">
      <h1>
        Coordinator
      </h1>
      <br>

      <div>
        <label>
          responsible:
        </label>
        <input>
      </div>
      <div>
        <label>
          email:
        </label>
        <input>
      </div>

    </div>

    <div id="when" class="form-container">
      <h1>
        When
      </h1>
      <br>

      <div>
        <label>
          date:
        </label>
        <input>
      </div>
    </div>
  </form>
</div>