<div class="container">
  <form>
    <!--  -->
    <div class="about-form form-container box-shadow">
      <h1 class="about-title title">
        About
      </h1>

      <label class="title-lbl label-box field-lbl">
        TITLE
      </label>
      <div class="input-box title-input">
        <input class="text-input wide" type="text" placeholder="Make it short and clear">
      </div>


      <label class="description-lbl label-box field-lbl">
        DESCRIPTION
      </label>
      <div class="description-input input-box">
        <textarea class="wide tall text-input" type="text" rows="7" maxlength="140" placeholder="Write about your event, be creative"></textarea>
        <label class="small-text">
          max length 140 characters
        </label>

        <label class="small-text right">
          {{desCharCount}} / 140
        </label>


      </div>


      <label class="category-lbl label-box field-lbl">
        CATEGORY
      </label>
      <div class="category-input input-box">
        <select class="text-input wide">
          <option *ngFor="let employe of employes" [value]="employe">{{employe}}</option>
        </select>
        <label class="small-text">
          Describes topic and people who should be interested in this event
        </label>
      </div>


      <label class="payment-lbl label-box field-lbl">
        PAYMENT
      </label>
      <div class="payment-input input-box normal-text">
        <input type="radio" name="money"> Free event
        <input type="radio" name="money"> Paid event
      </div>


      <label class="reward-lbl label-box field-lbl">
        REWARD
      </label>
      <div class="reward-input input-box">
        <input class="text-input short no-appearance" type="number" placeholder="Number">
        <label class="normal-text">
          reward points for attendance
        </label>
      </div>

    </div>
    <!--  -->
    <div class="coordinator-form form-container box-shadow">
      <h1 class="coordinator-title title">
        Coordinator
      </h1>

      <label class="responsible-lbl label-box field-lbl">
        RESPONSIBLE
      </label>
      <div class="responsible-input input-box">
        <select class="text-input wide">
          <option></option>
        </select>
      </div>


      <label class="email-lbl label-box field-lbl">
        EMAIL
      </label>
      <div class="email-input input-box">
        <input class="text-input wide" type="email" placeholder="Email">
      </div>
    </div>

    <!--  -->
    <div class="when-form form-container box-shadow">
      <h1 class="when-title title">
        When
      </h1>


      <label class="date-lbl label-box field-lbl">
        STARTS ON
      </label>
      <div class="date-input input-box">
        <input class="text-input" type="date">
        <label class="normal-text">
          at
        </label>
        <input class="text-input" type="time">
        <input class="" type="radio"> 
        <label class="normal-text">
            AM
        </label>
        <input type="radio"> 
        <label class="normal-text">
          PM
        </label>
      </div>
    </div>
  </form>
</div>